{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div id="home-banner" class="row text-center">
            <div class="col">
                <div class="scrolling-wrapper">
                    <h4 class="scrolling-text my-1 concert-one">| Find Recipes | Share your own recipes | Try new foods | Connect with other food lovers! |</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Introduction to what the website is about and a form to sign up. -->
    <div class="container intro">
        <div class="row">
            <div class="col-12 col-lg-8 concert-one dim-gray px-lg-4">
                <h2>Welcome To TasteThreads!</h2>
                <p class="intro-text mt-3">Where culinary passion meets community. Our platform is designed for food enthusiasts of all levels to share recipes, discover new flavors, 
                    and connect with like-minded home chefs. Whether you're looking to showcase your grandmother's secret pasta sauce, find inspiration for tonight's dinner, 
                    or simply appreciate the artistry behind a perfectly plated dish, you've found your place. Join our growing community of food lovers who believe that great 
                    meals are meant to be shared. At TasteThreads, every recipe tells a story – we invite you to become part of ours.</p>
            </div>
            <div class="col-12 col-lg-4 concert-one dim-gray px-lg-4 signup-box">
                {% if user.is_authenticated %}
                    <h2 class="text-center">Share With Others:</h2>
                    <hr>
                    <div>
                        <ul class="share-with-list">
                            <li>Upload your own creations</li>
                            <li>Give feedback to others recipes aswell as recieve feedback on yours!</li>
                        </ul>
                    </div>
                {% else %}
                    <h2 class="text-center">Sign Up To:</h2>
                    <hr>
                    <div class="row">
                        <div>
                            <ul class="signup-list">
                                <li>Share your own recipes</li>
                                <li>Interact with other users recipes</li>
                                <li>Save recipes for later</li>
                            </ul>
                            <a class="signup-btn" href="{% url 'account_signup' %}">Sign Up</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Display the current most popular recipes throught the whole site. -->
    <div class="container popular-recipes-container">
        <div class="popular-recipes px-lg-4">
            <h1 class="text-center dim-gray">POPULAR RECIPES</h1>
            <hr>
            <h2 class="text-center dim-gray">COMING SOON</h2>
        </div>
    </div>
{% endblock %}